<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<!-- the standard-console-appender -->
		<Console name="appender-Console-all" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{DEFAULT} %-5level [%t] (%location) %logger{36} - %msg%n" />
		</Console>
		<!-- the appenders for root -->
		<File name="appender-root-all" fileName="target/logs/hl7-messaging-debug.log" append="false">
			<PatternLayout pattern="%d{DEFAULT} %-5level [%t] (%location) %logger{36} - %msg%n" />
		</File>
	</Appenders>

	<Loggers>
		<!-- Every configuration must have a root logger. If one is not configured the default root LoggerConfig is ERROR with Console appender attached. -->
		<Root level="DEBUG">
			<AppenderRef ref="appender-Console-all" level="DEBUG" />
			<AppenderRef ref="appender-root-all" level="ALL" />
		</Root>
	</Loggers>
</Configuration>